<h1>Add a Dealership</h1>
<form action="/dealerships" method="post">
  <label for="name">Enter the Dealership name:</label>
  <input id="name" name="name" type="text">
  <button type="submit">Add Dealership</button>
</form>
