<h2>Success! You've added a vehicle!</h2>

<a href="/dealerships/<%= @dealership.id()%>">Back to <%= @dealership.name() %></a>
<br>
<a href="/dealerships/<%= @dealership.id()%>/vehicles/new">Add another vehicle</a>
